@font-face {
  font-family: 'Rosart Regular';
  src: 
  url('../fonts/rosart-regular.woff2') format('woff2'),
  url('../fonts/rosart-regular.woff') format('woff'),
  url('../fonts/rosart-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rosart Italic';
  src: 
  url('../fonts/rosart-italic.woff2') format('woff2'),
  url('../fonts/rosart-italic.woff') format('woff'),
  url('../fonts/rosart-italic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}